@font-face {
    font-family: 'Circular';
    src: url('../fonts/CircularStd-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/CircularStd-Light.woff2') format('woff2'),url('../fonts/CircularStd-Light.woff') format('woff'),url('../fonts/CircularStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
    src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),url('../fonts/CircularStd-Book.woff2') format('woff2'),url('../fonts/CircularStd-Book.woff') format('woff'),url('../fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
    src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/CircularStd-Medium.woff2') format('woff2'),url('../fonts/CircularStd-Medium.woff') format('woff'),url('../fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:font-url('icomoon.eot');
  src:font-url('icomoon.eot?#iefix') format('embedded-opentype'),
    font-url('icomoon.ttf') format('truetype'),
    font-url('icomoon.woff') format('woff'),
    font-url('icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

%icon-exclamation-sign {
  @extend %icon;
  content: "\e600";
}
%icon-question-sign {
  @extend %icon;
  content: "\e601";
}
%icon-info-sign {
  @extend %icon;
  content: "\e602";
}
%icon-remove-sign {
  @extend %icon;
  content: "\e603";
}
%icon-plus-sign {
  @extend %icon;
  content: "\e604";
}
%icon-minus-sign {
  @extend %icon;
  content: "\e605";
}
%icon-ok-sign {
  @extend %icon;
  content: "\e606";
}
%icon-search {
  @extend %icon;
  content: "\e607";
}
